<section>
    <h1>
        {{'i18n.tip'|translate}}
    </h1>
    <ul>
        <li>{{'i18n.tip1'|translate}}</li>
        <li>{{'i18n.tip2'|translate}}</li>
        <li>{{'i18n.tip3'|translate}}</li>
    </ul>
</section>
<section>
    <button style="margin-right: 10px" mat-raised-button color="primary" (click)="setSettings(true)"
            [disabled]="!hasApiResult || loading"
    >{{'i18n.Update'|translate}}</button>
    <button mat-raised-button color="primary" (click)="setSettings(false)" [disabled]="!hasApiResult || loading"
    >{{'i18n.Rebuild'|translate}}</button>
</section>
<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
