<section>
    <section *ngIf="!show" >
        <div style="text-align: right">
            <button mat-raised-button color="primary" (click)="showConfig()"><img src="../assets/config.png"></button>
        </div>
    </section>
    <h1>
        {{'i18n.tip'|translate}}
    </h1>
    <ul>
        <li>{{'i18n.tip1'|translate}}</li>
        <li>{{'i18n.tip2'|translate}}</li>
        <li>{{'i18n.tip3'|translate}}</li>
    </ul>
</section>
<section *ngIf="show">
    <form [formGroup]="form">
        <mat-card class="example-card">
            <mat-card-header >
                <mat-card-title>{{'i18n.Config'|translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content >
                <mat-form-field class="example-full-width" >
                    <mat-label>{{'i18n.UserCode'|translate}}</mat-label>
                    <!--[value]="form.value.institution"-->
                    <input matInput [value]="form.value.institution" formControlName="institution">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'i18n.CallNumberEnquiry'|translate}}</mat-label>
                    <input matInput [value]="form.value.lookupUrl"  formControlName="lookupUrl">
                </mat-form-field>
                <!--<mat-form-field class="example-full-width">-->
                <!--<mat-label>{{'i18n.CallNumberQueryType'|translate}}</mat-label>-->
                <!--<input matInput [(ngModel)]="settings.lookupPrefix">-->
                <!--</mat-form-field>-->
                <mat-form-field class="example-full-width">
                    <mat-label>{{'i18n.Collectionfield'|translate}}
                        <span style="color: red">*</span>
                    </mat-label>
                    <input matInput [value]="form.value.holding"  formControlName="holding" maxlength="3">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'i18n.UserCodefile'|translate}}（$）</mat-label>
                    <input matInput [value]="form.value.institutionType"  formControlName="institutionType" maxlength="1">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'i18n.ClassificationNumberSubfield'|translate}}（$）
                        <span style="color: red">*</span>
                    </mat-label>
                    <input matInput [value]="form.value.classificationNumber"  formControlName="classificationNumber" maxlength="1">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'i18n.SubfieldOfSpeciesNumber'|translate}}（$）
                        <span style="color: red">*</span>
                    </mat-label>
                    <input matInput [value]="form.value.titleNumber"  formControlName="titleNumber" maxlength="1">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>{{'i18n.CallNumberSubfield'|translate}}（$）
                        <span style="color: red">*</span>
                    </mat-label>
                    <input matInput [value]="form.value.callNo"  formControlName="callNo" maxlength="1">
                </mat-form-field>
            </mat-card-content>
            <button mat-raised-button color="primary" (click)="saved()" [disabled]="!hasApiResult || loading"
            >{{'i18n.save'|translate}}</button>
        </mat-card>
    </form>

</section>
<section>
    <mat-card class="example-card" *ngIf="false">
        <mat-card-header>
            <mat-card-title>Page Entity</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <pre>{{ pageEntities | json }}</pre>
        </mat-card-content>
    </mat-card>
</section>
<section>
    <button style="margin-right: 10px" mat-raised-button color="primary" (click)="setSettings(true)" [disabled]="!hasApiResult || loading"
    >{{'i18n.Update'|translate}}</button>
        <button  mat-raised-button color="primary" (click)="setSettings(false)" [disabled]="!hasApiResult || loading"
        >{{'i18n.Rebuild'|translate}}</button>
    <!--<mat-card class="example-card" >-->
        <!--<mat-card-header>-->
            <!--<mat-card-title>API Result</mat-card-title>-->
        <!--</mat-card-header>-->
        <!--<mat-card-content>-->
            <!--<textarea #apiResultArea [value]="apiResult | json"></textarea>-->
        <!--</mat-card-content>-->
        <!--<mat-card-actions>-->
            <!--<button mat-raised-button color="primary" (click)="update(apiResultArea.value)"-->
                    <!--[disabled]="!hasApiResult || loading">重新生成-->
            <!--</button>-->
            <!--<button mat-raised-button color="primary" (click)="update(apiResultArea.value)"-->
                    <!--[disabled]="!hasApiResult || loading">更新-->
            <!--</button>-->
        <!--</mat-card-actions>-->
    <!--</mat-card>-->
</section>
<div class="loading-shade" *ngIf="loading">
    <mat-spinner diameter="50"></mat-spinner>
</div>
